In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tweet_emotions.csv")
df

,tweet_id,sentiment,content
0,1956967341,empty,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,wants to hang out with friends SOON!
4,1956968416,neutral,@dannycastillo We want to trade with someone w...
...,...,...,...
39995,1753918954,neutral,@JohnLloydTaylor
39996,1753919001,love,Happy Mothers Day All my love
39997,1753919005,love,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,@mopedronin bullet train from tokyo the gf ...

In [3]:
lst = df.sentiment.unique()
lst = list(lst)
lst.sort()
l = len(lst)
lst

['anger',
 'boredom',
 'empty',
 'enthusiasm',
 'fun',
 'happiness',
 'hate',
 'love',
 'neutral',
 'relief',
 'sadness',
 'surprise',
 'worry']

In [4]:
dic = {}
for i in range(l):
    dic[lst[i]] = i

dic

{'anger': 0,
 'boredom': 1,
 'empty': 2,
 'enthusiasm': 3,
 'fun': 4,
 'happiness': 5,
 'hate': 6,
 'love': 7,
 'neutral': 8,
 'relief': 9,
 'sadness': 10,
 'surprise': 11,
 'worry': 12}

In [5]:
for row in df.itertuples():
    df.loc[row.Index, "sentiment"] = dic[df.loc[row.Index, "sentiment"]]

In [6]:
df.sentiment.unique()

array([2, 10, 3, 8, 12, 11, 7, 4, 6, 5, 1, 9, 0], dtype=object)